<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ToolManagerPro</title>
		<style>
			p {
				background-color: rgb(182, 180, 251);
				font-size: 40px; 
			}
			.titleRow {
				display: flex;
				flex-direction: row;
				justify-content: center;
				background-color: rgb(194, 192, 249);
			}
			body {
				font-size: 35pt 
			}
		</style>
	</head>
	<body>
		<div class='titleRow'>
			<p>Machine Information:</p>
		</div>
    </body>
	<script src="/machList.js" charset="utf-8"></script>
</html>