<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ToolManagerPro</title>
		<style>
			p {
				background-color: rgb(255, 245, 158);
				font-size: 40px; 
			}
			.titleRow {
				display: flex;
				flex-direction: row;
				justify-content: center;
				background-color: rgb(160, 243, 252);
			}
			body {
				font-size: 35pt 
			}
			/* 
				display: flex;
				flex-direction: column;
				background-color: rgb(194, 192, 249);	
				margin-top: 10px;
				flex-grow: 0;
			*/

		</style>
	</head>
	<body>
		<div class='titleRow'>
			<p>Tool List:</p>
		</div>
    </body>
	<script type="module" src="/toolList.js" charset="utf-8"></script>
	<!-- <script src="../control/toolView.js" charset="utf-8"></script> -->
</html>
