<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ToolManagerPro</title>
		<style>
			p {
				background-color: rgb(255, 245, 158);
				font-size: 40px; 
			}
			.titleRow {
				display: flex;
				flex-direction: row;
				justify-content: center;
				background-color: rgb(160, 243, 252);
			}
			body {
				font-size: 35pt 
			}
		</style>
	</head>
	<body>
		<div class='titleRow'>
			<p>Updated the Tool Location</p>
		</div>
    </body>
	<script src="/updateTool.js" charset="utf-8"></script>
</html>